<div class="search_body">
  <div class="item center_img">
  <h1 class="largez">Angular OMDb API Search</h1>
  <h2 class="smallz">Enter a movie by title</h2>
  <div class="col-md-4 col-md-offset-3">
       <form action="" class="search-form">
           <div class="form-group has-feedback">
           <label for="search" class="sr-only">ie The Matrix</label>
           <input type="text" class="form-control" name="search" id="search" placeholder="ie The Matrix">
             <span class="glyphicon glyphicon-search form-control-feedback"></span>
           </div>
       </form>
   </div>
  </div>
  <!-- <div class="center_img">
    <button class="largez btn btn-primary">Find</button>
  </div> -->
</div>
